<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThreadsManager.Properties.Settings.Thread121ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=c:\users\pc\source\repos\ThreadsManager\ThreadsManager.DataSql\MDB_File\Thread121.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="ThreadsManager.Properties.Settings.ThreadsDatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ThreadsDatabase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>